* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #df0909;
  padding-right: 20px;
}

.nav ul {
  display: 'flex';   
  margin: 0;            
  padding: 0;
  list-style: none; 
}

.nav li {
  display: flex;
  float: right;
  font-size: 20px;
  padding: 15px;
  color: blue;
}

.nav a{
  text-decoration: none;
  color: yellow;
}

.site-title{
  font-size: 30px;
  padding-left: 20px;
}
  text-decoration: none;
} */

.Home{
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
