.experience-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.experience-container .page-title{
    margin-bottom: 50px;
}

.experience-entry {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    margin-left: 30%;
}

.timeline-point {
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #007BFF; /* Adjust color as needed */
    border-radius: 50%;
    position: absolute;
    left: -10px; /* Half the width of the circle */
}

.arrow {
    width: 2px;
    height: 60px; /* Adjust based on spacing needs */
    background-color: #ccc;
    position: absolute;
    top: 20px; /* Same as circle height */
    left: 0;
    z-index: -1;
}

.info {
    margin-left: 20px;
}

.company {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.role {
    font-size: 20px;
    color: #555;
}

.duration, .location {
    font-size: 16px;
    color: #666;
}

.description {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}
